<form class="form-inline profileButton"> 
  <button class="navbar-toggler" type="button" (click)="toggleSideNav()">
   <span class="fas fa-bars fa-1x"></span>
  </button>
</form>
<!-- Side navigation list -->
<ul class="nav" id="navbarSide">
        <li class="navbar-side-header">
          <span>Profile</span>
        </li>
        <li class="navbar-side-header">
                <span>Favorites</span>
            <ul class="nav-list">
                <li class="navbar-side-item">
                  <a href="#">Favorites 1</a>
                </li>
                <li class="navbar-side-item">
                        <a href="#">Favorites 1</a>
                </li>
            </ul>
          </li>
      </ul>