nav {
  border-bottom: 1px solid black;
  background-color: white;
}

.navbar-brand{
  color:rgb(204, 0, 0);
  font-family: Helvetica;
  font-size: 27px;
  font-weight: bold;
}

.headerFont{
  font-weight: initial;
}

