.searchResult {
    position: relative;
    left: 16%;
    width: 80%;
}

.smallFont {
    font-size:small;
}

.alignCenter{
    align-items: center;
}

.rating > span {
  font-size: xx-large;
  cursor: pointer;
  }

.favrouiteStar:before  {
     content: "★";
     position: absolute;
     color: rgb(216, 216, 73);
  }